@import '_vars';

// ----------------------------------------Global 

body, html {
    overflow-x: hidden;
}


.hide-br-mobile {
    @media only screen and (min-width: 601px) {
        display: block;
    }
    @media only screen and (max-width: 600px) {
        display: none;
    }
}

hr {
margin-bottom: 3.125rem;
border-color: rgba(255, 255, 255, 0.2);
width: 12.5rem;
color: #7e7e7e;

}

hr.light{
    margin-bottom: 3.125rem;
    border-color:#999;
    width: 12.5rem;
    color: #000;
    
    }

hr.light.boxBorder{
    position: relative;
    left: 30%;
    width: 29rem;
}

@mixin transition($in) {
	transition:$in;
	-webkit-transition:$in;
	-moz-transition:$in;
	-o-transition:$in;
	-ms-transition:$in;
}
@mixin transform($in) {
	transform:$in;
	-webkit-transform:$in;
	-moz-transform:$in;
	-o-transform:$in;
	-ms-transform:$in;
}
@mixin animation($in) {
	animation:$in;
	-webkit-animation:$in;
	-moz-animation:$in;
	-o-animation:$in;
	-ms-animation:$in;
}

.wow { visibility: hidden; }

// ------------------------------------------------------Hamburger Menu
// body {
// 	background-color: red;
// }

//------------------------------------------------------- Overlay menu 
.bg-cover {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 0;
	transition: all 350ms ease;
	opacity: 0;
	visibility: hidden;
    pointer-events: none;
    z-index: 9;
    max-width: 100%;
}

.prompt {
	position: fixed;
	width: 100%;
	text-align: center;
	line-height: 114px;
	font-family: Georgia, sans-serif;
	color: #666;
}

.reveal-vid{
	display: block;
	pointer-events: auto;
    visibility: visible;
    background-color: red;
}

.reveal{
    
    display: block;
    pointer-events: auto;
    visibility: visible;
    width: 100%;
    background-color: rgb(224, 223, 223);
    border-radius: 5px;
    
    img{
        position: relative;
        top: 50;
        height: auto;
        width: 50%;
        vertical-align: center;
        border-radius: 5px;
    }
    h2{
        
        color:#333;
        text-align: right;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    p {
     
        text-align: right;
        float: right;
        width: 30%;
    
        padding-top: 10px;
        color: #666;
        
        
    }
}

// .reveal b {
//   text-align: center;
//   padding: 10px;
// }

//------------------------------------------LIGHTBOX
// #videoLightBox {
  
//     background-color: red;


// }
//------------------------------------------END LIGHTBOX

.hamburger-shell {
	// margin: 0;
	// position: fixed;
	// overflow: hidden;
	// width: 70px;
	// height: 100px;
	// overflow: auto;
	// left: calc(100% - 100px);
    // top: 20px;
    // left: 50%;
    // z-index: 9;

    position: fixed;
    padding: 5px;
    top: 20px;
    left: 15px;
    z-index: 9;
    background-color: rgba(253, 252, 252, 0.815);
    padding: 8px;
    text-align: center;
}

.top, .middle{
	// position: absolute;
	// width: 62px;
	// height: 10px;
	// background-color: black;
	// transition: all 350ms ease-in-out;
    // top: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: all 350ms ease-in-out;
    width: 30px;
    height: 3px;
    background-color: black;
}

.middle {
	margin-top: 5px;
}

#menu {
	position: fixed;
	// left: calc(100% - 292px);
    top: 10px;
	color: black;
	display: none;
	margin: 120px 30px;
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-weight: 100;
	font-size: 20px;
	text-transform: uppercase;
	color: #333;
	padding: 24px;
	width: 200px;
    text-align: left;
    z-index: 9;
}

#menu a li {
	text-decoration: none!important;
	padding-bottom: 10px;
	margin-bottom: 12px;
	border-bottom: 1px solid black;
	list-style: none;
	color: #555;
	transition: all 150ms ease;
}

#menu a li:hover {
	color: red;
	padding-right: 3px;
}

// #menu a li:hover:after {
// }



#menu a {
	text-decoration: none;
}

.rotate {
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	top: 30px;
	background-color: red;
	height: 2px;
}

.rotate-back {
	transform: rotate(-225deg);
	-webkit-transform: rotate(-225deg);
	top: 30px;
	background-color: red;
    height: 2px;
    &.middle {
        margin-top: 0;
        position: relative;
        top: -2px;
    }
}

.top {
animation-delay: 100ms;
}

.middle {
animation-delay: 250ms;
}

.bottom {
	animation-delay: 400ms;
}

.menu-name {
	font-family: pirulen;
	font-weight: 600;
	color: black;
	text-decoration: none;
	// position: absolute;
	// top: 56px;
	// left: -1px;
    transition: all 350ms;
    margin-top: 10px;
    line-height: 1;
}

.bump {
	color: red;
}

// .responsive-box {
// 	background-color: #ddd;
// 	margin: 2%;
// 	float: left;
// }

// .box-1 {
// 	width: 96%;
// 	height: 300px;
// }

// .box-2, .box-3, .box-4 {
// 	width: 29.333%;
// 	height: 140px;
// }

// .box-5 {
// 	width: 62.666%;
// 	height: 492px;
// }

// .header {
// 	width: 100%;
// 	height: 120px;
// }

// .par-1, .par-2, .par-3 {
// 	width: 70%;
// 	margin: 1% 2%;
// 	background-color: #888;
// 	height: 16px;
// 	float: left;
// }

// .par-2 {
// 	width: 56%;
// }

// .par-3 {
// 	width: 64%;
// }

// ---------------------------------------End of Hamburger Menu

//---------------------------- VIDEO
#videoReel{
    display:grid;
    width:90%;
    margin:0 auto;
    border-radius:4px;
}

#pPlay {
    width: 100px;
    height: 100px;
}
//------------------------------ END VIDEO

.hero-container{
    min-height: 700px;
    background: url("/images/cityscape.jpg");
    background-attachment: fixed;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    .hero-container{
     background: url("/images/BlakeHauseSketchSmall.jpg");
     min-height: 700px;
     background-attachment: fixed;
     background-position: top left;
     background-repeat: no-repeat;
     background-size: cover;
    }
  }

  .row {
    // min-height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
  }


.logo {
    position: fixed;
    // transform: rotate(90deg);
    // transform-origin: left top 0;
   }

   .startLogo {
       position: fixed;
   }

   .altLogo {
       position: absolute;
   }

   .white {
    color: white;
  }
  
  .black {
    color: #1d1d1d;
  }

@media only screen and (max-width: 600px) {
    img.logo.vert{
       display: none;
    }

    img.logo.horz{
       display: block;
       position: relative;
       top: 30px;
       height: auto;
       width: 200px;
       max-width: 90%;
       margin: 0 auto;
       margin-right: 15px;
       }
  }

  @media only screen and (min-width: 601px) {
    img.logo.vert{
       display: block;
       left: 47px;
       top: 90px;
       height: 230px;
    }

    img.logo.horz{
       display: none;

       }
  }


//   #ScrollDown {
//       width: 300px;
//       position: relative;
//       top: 600px;
//       left: 600px;
//   }

//   @media only screen and (max-width: 600px) {
//     #ScrollDown{
//         width: 200px;
//         position: relative;
//         top: 500px;
//         left: 90px;
//     }
// }


// //   .animate{
// //     stroke-dasharray: 1000;
// //     stroke-dashoffset: 1000;
// //     animation: dash 10s linear forwards;
// //    }

//    @keyframes dash {
//    100% {
//     stroke-dashoffset: 0;
//     }
//    }
// #s_path {
//     stroke-dasharray: 1000;
//     stroke-dashoffset: 1000;
//     animation: dash 3s linear forwards;
// }

// #cr_path {
//     stroke-dasharray: 1000;
//     stroke-dashoffset: 1000;
//     animation: dash 3s linear forwards 1s;
//     // animation-delay: 10s;
// }
// #ol_path {
//     stroke-dasharray: 1000;
//     stroke-dashoffset: 1000;
//     animation: dash 3s linear forwards 2.2s;
// }

// #l_path {
//     stroke-dasharray: 1000;
//     stroke-dashoffset: 1000;
//     animation: dash 3s linear forwards 3.7s;
// }

// #D_path {
//     stroke-dasharray: 1000;
//     stroke-dashoffset: 1000;
//     animation: dash 3s linear forwards 4.5s;
// }

// #ow_path {
//     stroke-dasharray: 1000;
//     stroke-dashoffset: 1000;
//     animation: dash 3s linear forwards 5.5s;
// }

// #n_path {
//     stroke-dasharray: 1000;
//     stroke-dashoffset: 1000;
//     animation: dash 3s linear forwards 7.2s;
// }

.videoreelButton {
    position: fixed;
    background: url("/images/videoreelBtn.svg");
    &:focus{
        outline: none;
    }
}
.videoreelButton:hover {
    background: url("/images/videoreelBtnW.svg");
    transition-duration: 2s;
    transition-delay: 0.2s;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s;
    -ms-transition-duration: 0.2s;
    -ms-transition-delay: 0.2s;
    -moz-transition-duration: 0.2s;
    -moz-transition-delay: 0.2s;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
        -webkit-transform: rotate(0deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
        -ms-transform: rotate(0deg); /* IE 9 */
        -moz-transform: rotate(0deg);
        
    }
    to {
        transform:rotate(-360deg);
        -webkit-transform: rotate(-360deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
        -ms-transform: rotate(-360deg); /* IE 9 */
        -moz-transform: rotate(-360deg);
    }
}

@media only screen and (max-width: 600px) {
    .videoreelButton {
        position: relative;
       height: 75px;
       width: 75px;
       top: 90px;
       left: 40%;
       animation-name: spin;
       animation-duration: 5000ms;
       animation-iteration-count: infinite;
       animation-timing-function: linear;
       z-index: 9;

    }
    .videoreelButton:hover {
        background: url("/images/videoreelBtnW.svg");
        transition-duration: 2s;
        transition-delay: 0.2s;
    }
  
}


@media only screen and (min-width: 601px) {
    .videoreelButton {
        top: 20px;
        right: 15px;
        height: 100px;
        width: 100px;
        animation-name: spin;
        animation-duration: 5000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        z-index: 9;
       
    }
}


//--------------------------------------------------------- About 
.about-container{
    padding: 100px 15px;
    background-color: #000;
    color: white;
}

// .about-content{
//     margin-left: 100px;
//     margin-right: 100px;
// }

@media only screen and (min-width: 601px) {
  .about-content{
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media only screen and (max-width: 600px) {
    .about-content{
      margin-left: 10px;
      margin-right: 10px;
    }
  }
//------------------------------------------------------------- Skills
.skills-container{
    padding: 100px 15px;
    text-align: center;
    height: 100vh;
}

.skill-blocks-container {
    @media only screen and (min-width: 601px) {
        display: flex;
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        justify-content: center;
        align-items: center;
    }
}

.skill-block {
    @media only screen and (min-width: 601px) {
        flex: 1;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
    }
    img {
        height: 100px;
        display: block;
        margin: 10px auto;
        
    }
}

//-------------------------------------------------------------- Porfolio
.portfolio-container {
    padding: 100px 15px;
    text-align: center;
    background-color: #000;
    color: #fff;
 
}

.work-blocks-container {
    column-count: 1;
    max-width: 75%;
    margin: 0 auto;
    @media only screen and (min-width: 601px) {
        column-count: 2;
    }
    column-gap: 0;
    img {
        width: 100%;
    }
}




//-------------------------------------------------- Contact

.contact-container{
    padding: 100px 15px;
    text-align: center;
}

input{
    position: relative;
    left: 25%;
    max-width: 50%;
    display: inline-block;
    margin: 0 auto;
   
    @media only screen and (max-width: 600px) {
    max-width: 75%;
    left: 12.5%;
    margin: 0 auto;
  }
}

label{
    position: relative;
    left: 25%;
    text-align: left;

    @media only screen and (max-width: 600px) {
        left: 12.5%;
  }
}

textarea{
  position: relative;
  max-width: 50%;
  display: block;
  margin: 0 auto;

  @media only screen and (max-width: 600px) {
    max-width: 75%;
    margin: 0 auto;
  }
}



    .contact-btn {
        outline:none;
        border:none;
        padding:10px;
        display:block;
        margin:50px auto;
        cursor:pointer;
        font-size:20px;
        background-color:rgb(245, 245, 245);
        border-radius: 5px;
        position:relative;
        border:2px solid #000;
    
        @include transition(all 0.5s ease);
    }
    


.sub-btn {
	color:#000;
	border-color:transparent;

	&:before {
		width:0;
		height:3px;
		content:" ";
		background-color: red;
		position:absolute;
		top:0;
		left:50%;

		@include transition(all 0.3s ease);
	}

	&:after {
		@extend .sub-btn:before;
		top:100%;
	}

	&:hover {
		letter-spacing:8px;
		color: red;

		&:before {
			width:100%;
			left:0;
		}
		&:after {
			width:100%;
			left:0;
		}
	}
}